1. Add sampleID column name;
change OTU encoding to otu1-418;
drop PersonCode, Person_EverCovid, Sample_Code, Date_Collected;
change StudyID to patientID;
add CovidLabel column. (excel)

2. Change labels to Negative/No-0, Positive/Yes-1. (excel)

3. Drop the unwanted infants samples.

4. Add CovidLabel from CovidStatus and EverCovid: Control-0, CaseNegative-1, CasePositive-2.

5. Delete all zero columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_abs = pd.read_csv('order_absolute_reads_AZ.txt', delimiter='\t')
df_n = pd.read_csv('order_normalized_reads_AZ.txt', delimiter='\t')
df_r = pd.read_csv('order_relative_abundance_AZ.txt', delimiter='\t')
df_infant = pd.read_csv('drop_Infants.csv')

In [3]:
Inumber = df_infant['Inumber'].to_list()

In [4]:
df_abs = df_abs.drop(df_abs[df_abs['sampleID'].isin(Inumber)].index)
df_n = df_n.drop(df_n[df_n['sampleID'].isin(Inumber)].index)
df_r = df_r.drop(df_r[df_r['sampleID'].isin(Inumber)].index)

In [5]:
df_abs.loc[(df_abs['CovidStatus']==0) & (df_abs['EverCovid']==0), 'CovidLabel'] = 0
df_abs.loc[(df_abs['CovidStatus']==0) & (df_abs['EverCovid']==1), 'CovidLabel'] = 1
df_abs.loc[(df_abs['CovidStatus']==1) & (df_abs['EverCovid']==1), 'CovidLabel'] = 2
df_abs['CovidLabel'] = df_abs['CovidLabel'].astype(int)
df_abs

,sampleID,otu1,otu2,otu3,otu4,otu5,otu6,otu7,otu8,otu9,...,otu78,otu79,otu80,Age,Timepoint,CovidStatus,EverCovid,HIVstatus,patientID,CovidLabel
0,I91828,0,0,337,0,119,2370,0,1181,120,...,3022,387,0,1.635616,1,0,0,1,44110208B1,0
1,I91829,0,0,185,0,88,1836,0,1648,125,...,1882,498,0,35.000000,1,0,0,1,44110208M1,0
2,I91831,0,0,3029,0,16518,141016,0,39436,3165,...,1594,244000,0,27.000000,1,0,0,1,44110159M1,0
4,I91833,0,0,6,0,25,284,0,134,24,...,3,208,0,40.000000,1,0,0,1,44110189M1,0
5,I91834,0,0,0,0,0,0,0,0,9,...,0,11,0,1.621918,1,0,0,1,44110196B1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,I96266,0,0,15,0,0,1409,0,233,48,...,13,23,0,36.000000,3,1,1,1,44110200M1,2
235,I96269,0,0,309,0,0,2298,0,255,63,...,27,177,0,2.052055,4,0,0,1,44110204B1,0
236,I96270,0,0,43,0,0,4911,0,1173,308,...,47,76,0,38.000000,4,0,0,1,44110204M1,0
237,I96271,0,0,27,0,0,4762,0,397,77,...,27,1464,0,29.000000,2,0,1,0,44110151M1,1
238,I96272,0,0,13,0,0,3891,0,123,59,...,21,156,0,29.000000,1,0,1,1,44110207M1,1

In [6]:
df_n.loc[(df_n['CovidStatus']==0) & (df_n['EverCovid']==0), 'CovidLabel'] = 0
df_n.loc[(df_n['CovidStatus']==0) & (df_n['EverCovid']==1), 'CovidLabel'] = 1
df_n.loc[(df_n['CovidStatus']==1) & (df_n['EverCovid']==1), 'CovidLabel'] = 2
df_n['CovidLabel'] = df_n['CovidLabel'].astype(int)
df_n

,sampleID,otu1,otu2,otu3,otu4,otu5,otu6,otu7,otu8,otu9,...,otu78,otu79,otu80,Age,Timepoint,CovidStatus,EverCovid,HIVstatus,patientID,CovidLabel
0,I91828,0,0,14.172288,0.0,5.004458,99.668612,0.0,49.666089,5.046512,...,127.087994,16.275001,0.0,1.635616,1,0,0,1,44110208B1,0
1,I91829,0,0,11.350599,0.0,5.399204,112.647021,0.0,101.112359,7.669323,...,115.469332,30.554584,1.0,35.000000,1,0,0,1,44110208M1,0
2,I91831,0,0,2.267104,0.0,12.363162,105.545684,0.0,29.516506,2.368895,...,1.193055,182.625709,0.0,27.000000,1,0,0,1,44110159M1,0
4,I91833,0,0,2.307337,0.0,9.613906,109.213967,0.0,51.530534,9.229349,...,1.153669,79.987694,0.0,40.000000,1,0,0,1,44110189M1,0
5,I91834,0,0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,8.582054,...,0.000000,10.489177,0.0,1.621918,1,0,0,1,44110196B1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,I96269,0,0,8.657669,0.0,0.000000,64.386160,0.0,7.144678,1.765156,...,0.756495,4.959247,0.0,2.052055,4,0,0,1,44110204B1,0
236,I96270,0,0,1.186204,0.0,0.000000,135.475488,0.0,32.358531,8.496528,...,1.296548,2.096546,0.0,38.000000,4,0,0,1,44110204M1,0
237,I96271,0,0,1.088095,0.0,0.000000,191.907794,0.0,15.999033,3.103087,...,1.088095,58.998952,0.0,29.000000,2,0,1,0,44110151M1,1
238,I96272,0,0,1.297690,0.0,0.000000,388.408633,0.0,12.278145,5.889517,...,2.096269,15.572281,0.0,29.000000,1,0,1,1,44110207M1,1
239,X.1,0,0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0,0,0,0,0,0

In [7]:
df_r.loc[(df_r['CovidStatus']==0) & (df_r['EverCovid']==0), 'CovidLabel'] = 0
df_r.loc[(df_r['CovidStatus']==0) & (df_r['EverCovid']==1), 'CovidLabel'] = 1
df_r.loc[(df_r['CovidStatus']==1) & (df_r['EverCovid']==1), 'CovidLabel'] = 2
df_r['CovidLabel'] = df_r['CovidLabel'].astype(int)
df_r

,sampleID,otu1,otu2,otu3,otu4,otu5,otu6,otu7,otu8,otu9,...,otu78,otu79,otu80,Age,Timepoint,CovidStatus,EverCovid,HIVstatus,patientID,CovidLabel
0,I91828,0,0,0.002467,0.0,0.000871,0.017350,0.0,0.008646,0.000878,...,0.022123,0.002833,0.0,1.635616,1,0,0,1,44110208B1,0
1,I91829,0,0,0.002184,0.0,0.001039,0.021677,0.0,0.019457,0.001476,...,0.022220,0.005880,0.0,35.000000,1,0,0,1,44110208M1,0
2,I91831,0,0,0.000292,0.0,0.001595,0.013617,0.0,0.003808,0.000306,...,0.000154,0.023562,0.0,27.000000,1,0,0,1,44110159M1,0
4,I91833,0,0,0.000632,0.0,0.002635,0.029936,0.0,0.014125,0.002530,...,0.000316,0.021925,0.0,40.000000,1,0,0,1,44110189M1,0
5,I91834,0,0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.001371,...,0.000000,0.001676,0.0,1.621918,1,0,0,1,44110196B1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,I96266,0,0,0.000527,0.0,0.000000,0.049492,0.0,0.008184,0.001686,...,0.000457,0.000808,0.0,36.000000,3,1,1,1,44110200M1,2
235,I96269,0,0,0.002079,0.0,0.000000,0.015465,0.0,0.001716,0.000424,...,0.000182,0.001191,0.0,2.052055,4,0,0,1,44110204B1,0
236,I96270,0,0,0.000410,0.0,0.000000,0.046863,0.0,0.011193,0.002939,...,0.000448,0.000725,0.0,38.000000,4,0,0,1,44110204M1,0
237,I96271,0,0,0.000263,0.0,0.000000,0.046386,0.0,0.003867,0.000750,...,0.000263,0.014261,0.0,29.000000,2,0,1,0,44110151M1,1
238,I96272,0,0,0.000257,0.0,0.000000,0.076827,0.0,0.002429,0.001165,...,0.000415,0.003080,0.0,29.000000,1,0,1,1,44110207M1,1

In [8]:
df_abs.to_csv('order_abs_reads_otu_drop.csv', index=False)
df_n.to_csv('order_normalized_reads_otu_drop.csv', index=False)
df_r.to_csv('order_relative_abundance_otu_drop.csv', index=False)

In [5]:
df = pd.read_csv('baby/family_normalized_reads_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/family_normalized_reads_baby.csv', index=False)

df = pd.read_csv('baby/order_normalized_reads_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/order_normalized_reads_baby.csv', index=False)

df = pd.read_csv('baby/genus_normalized_reads_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/genus_normalized_reads_baby.csv', index=False)




df = pd.read_csv('baby/family_relative_abundance_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/family_relative_abundance_baby.csv', index=False)

df = pd.read_csv('baby/order_relative_abundance_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/order_relative_abundance_baby.csv', index=False)

df = pd.read_csv('baby/genus_relative_abundance_otu_drop_baby.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('baby/genus_relative_abundance_baby.csv', index=False)


######################################################################


df = pd.read_csv('mom/family_normalized_reads_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/family_normalized_reads_mom.csv', index=False)

df = pd.read_csv('mom/order_normalized_reads_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/order_normalized_reads_mom.csv', index=False)

df = pd.read_csv('mom/genus_normalized_reads_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/genus_normalized_reads_mom.csv', index=False)



df = pd.read_csv('mom/family_relative_abundance_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/family_relative_abundance_mom.csv', index=False)

df = pd.read_csv('mom/order_relative_abundance_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/order_relative_abundance_mom.csv', index=False)

df = pd.read_csv('mom/genus_relative_abundance_otu_drop_mom.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('mom/genus_relative_abundance_mom.csv', index=False)

In [6]:
df = pd.read_csv('all/family_normalized_reads_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/family_normalized_reads_all.csv', index=False)

df = pd.read_csv('all/order_normalized_reads_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/order_normalized_reads_all.csv', index=False)

df = pd.read_csv('all/genus_normalized_reads_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/genus_normalized_reads_all.csv', index=False)



df = pd.read_csv('all/family_relative_abundance_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/family_relative_abundance_all.csv', index=False)

df = pd.read_csv('all/order_relative_abundance_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/order_relative_abundance_all.csv', index=False)

df = pd.read_csv('all/genus_relative_abundance_otu_drop.csv')
df = df.loc[:, (df != 0).any(axis=0)]
df.to_csv('all/genus_relative_abundance_all.csv', index=False)